.slide {
  position: relative;
}

.slide img {
  width: 100%;
  object-position: 0% center;
  object-fit: cover;
}

.slide .container {
  position: absolute;
  left: 1.563rem;
  top: 10%;
  width: 50%;
}

.slide .desc-container {
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.719);
}

.slide .desc-container h2 {
  font-size: 1.87rem;
}

.slide .desc-container p {
  font-size: 1rem;
}

.slide .link-to-detail {
  font-size: 1rem;
  color: #ff005a;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  padding: 0.625rem 1.563rem;
  border-radius: 0.625rem;
}

.slide .link-to-detail:hover {
  color: #8400ff;
}

.carousel-container {
  width: 90%;
  margin: 0 auto;
}

.splide__arrow--next {
  right: -50px;
  background-color: transparent;
}

.splide__arrow--prev {
  left: -50px;
  background-color: transparent;
}

.splide__arrow svg {
  fill: #ff005a;
}

.splide__arrow svg:hover {
  fill: #8400ff;
}

.splide__pagination__page {
  background-color: #8400ff8c;
}

.splide__pagination__page.is-active {
  background-color: #ff005a;
}
