.home {
  margin-bottom: 50px;
}

.header-section {
  display: flex;
  align-items: center;
  margin: 25px;
  text-align: left;
}

.header-section h2 {
  margin-right: 25px;
}

.header-section .link-to-page {
  text-decoration: none;
  color: #ff005a;
}

.header-section .link-to-page:hover {
  color: #8400ff;
}
